.main_container{
    padding: 0 .8rem;
}
.name{
    margin-left: 1rem;
}
.about_img_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    padding-top: 2rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    background-color: #3d3d3d9f;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}
.github_link{
    font-family: monospace;
    text-decoration: none;
    text-align: center;
}
.about_info{
    margin-left: 1rem;
}
.about_human{
    width: 20rem;
    margin-top: 2rem;
    margin-left: 2rem;
}
.download_btn{
    background-color: #e7c86c;
    color: #3d3d3d;
    text-decoration: none;
    padding: .6rem .7rem;
    transition:all .2s;
    border: 2px solid #e7c86c;
    text-transform: uppercase;
    border-radius: 3rem
}
.download_btn:hover{
    background-color: #3d3d3d;
    color: #e7c86c;
}
.resume_icon{
    width: 20rem;
    margin-bottom: 1rem;
}
@media only screen and (min-width: 980px) {
    .container{
        width: 30rem;
        margin-top: 7rem;
        margin: auto;
    }
    .about_human{
        display: none;
    }
}