/* COLORS #d59a30 #171717 */
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100;400;500&display=swap');

body{
  background-color:#171717;
}
*{
  font-family: 'Glory', sans-serif;
  color: white;
}